* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {

    font-family: 'Source Sans Pro';
}

.wrapper {

    width: 85%;
    margin-left: auto;
}

.button {

    height: 82px;
    width: 285px;
    border-radius: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    line-height: 3.2;
    transition: 600ms;
    background-color: #aed4d3;
    box-shadow: inset 0px 0px 133px -73px rgba(95,117,120,1);
}

.button:hover {

    box-shadow: inset 0px 0px 133px -73px rgba(117,137,140,1);
}

.heading2 {

    color: var(--heading);
    font-size: 46px;
    font-weight: 300;
    text-align: center;
}

.paragraph {

    color: var(--body);
    font-size: 25px;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
}

.paragraph2 {

    color: var(--body);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}