* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {

    font-family: 'Source Sans Pro';
}

.wrapper {

    width: 85%;
    margin-left: auto;
    min-height: 400vh;
    background-color: red;
}

.button {

    height: 82px;
    width: 285px;
    border-radius: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    background-color: var(--teal);
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    line-height: 3.2;
    background-color: var(--teal);
    transition: 600ms;
}

.button:hover {

    background-color:#aed4d3;
}

.heading2 {

    color: var(--heading);
    font-size: 46px;
    font-weight: 300;
}

.paragraph {

    color: var(--body);
    font-size: 21px;
    line-height: 1;
    font-weight: 300;
}