:root  {

    --teal: #8ebebc;
    --offwhite: #FFFFFFBF;
    --grey1: #F5FAFA;
    --grey2: #ecf1f1;
    --grey3: #e8edec;
    --grey4: #dce3e2;
    --heading: #666666;
    --body: #888888;
    --menu: #222729;


}